.progressBarWrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  width: 230px;
  margin-left: 2px;
}

.singleWeek:first-child {
  margin-left: -5px;
}
.singleWeek:last-child {
  margin-right: -5px;
}

.weekId {
  font-size: 0.565rem;
  font-family: "Helvetica";
  text-align: left;
  color: rgb(193, 193, 193);
  text-align: center;
  padding: 2px 0 0 2px;
}
